.random-planet {
    padding: 2rem;

    &__image {
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
        margin-right: 2rem;
    }
}

.planet-description {

    &__list {
        margin-top: 1.5rem;
    }

    &__item {
        padding: 0.5rem;
    }

    &__key {
        padding-right: 1rem;
    }
}