.random-planet {
    padding: 2rem;
}

.random-planet__image {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.planet-description__list {
    margin-top: 1.5rem;
}

.planet-description__item {
    padding: 0.5rem;
}

.planet-description__key {
    padding-right: 1rem;
}