*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #111111;
}

img {
    max-width: 100%;
}

button {
    font-family: inherit;
}

h3 {
    font-weight: 500;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

/* ---------- container ---------- */

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}