.item-details {
    width: 100%;
    padding: 2rem;

    &__image {
        max-width: 20rem;
        border-radius: 2rem;
        margin-right: 2rem;
    }
}

.item-description {

    &__list { 
        margin-top: 1.5rem;
    }

    &__item {
        padding: 0.5rem;
    }

    &__key {
        padding-right: 1rem;
        position: relative;
    }
}

@media (min-width: 992px) {
    
    .item-details {
        max-width: 50%;
        
    }
}   