.header {
    margin: 1rem 0 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 4rem;
    text-transform: uppercase;
    color: #FFE81F;
}

.navigation {
    margin-left: 5rem;

    &-list {
        display: flex;
        font-size: 2rem;
    }

    &-item {
        padding: 1rem 2rem;

        &__link {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0.2rem;
                width: 0;
                background-color: #fff;
                transition: .5s all;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

        }
    }

}

.button {
    padding: 1rem 2rem;
    margin-left: 0;
    font-size: 1.8rem;
    color: #000;
    background-color: #FFE81F;
    border-radius: 2rem;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgba(#FFE81F, 0.62)
    }
}