.header {
    margin: 1rem 0 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 4rem;
    text-transform: uppercase;
    color: #FFE81F;
}

.navigation {
    margin-left: 5rem;
}

.navigation-list {
    display: flex;
    font-size: 2rem;
}

.navigation-item {
    padding: 1rem 2rem;
}

.navigation-item__link {
    position: relative;
}

.navigation-item__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 0;
    background-color: #fff;
    transition: .5s all;
}

.navigation-item__link:hover:before {
    width: 100%;
}